<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sistema de Biblioteca</title>
  <link rel="stylesheet" href="CSS/style_principal.css">
</head>
<body>
  <nav>
    <div class="has-submenu">
        <a href="tela_visualizar_livro.html">Visualizar</a>
    </div>

    <div class="has-submenu">
        <a href="tela_adicionar_livro.html">Adicionar</a>
    </div>
  </nav>
    
      <div class="content">
        <div class="watermark">LivroSystem</div>
      </div>

  <script src="js/script.js"></script>
</body>
</html>
