<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sistema de Biblioteca</title>
  <link rel="stylesheet" href="CSS/style_visualizar.css">
</head>
<body>
  <nav>
    <div class="has-submenu">
        <a href="tela_visualizar_livro.html">Visualizar</a>
    </div>

    <div class="has-submenu">
        <a href="tela_adicionar_livro.html">Adicionar</a>
    </div>
  </nav>
    
      <h1 class="catalogo-titulo">Catálogo de Livros</h1>

      <div class="container" id="livrosContainer"></div>
  
  <script src="js/script.js"></script>
  <script>listarLivros()</script>
</body>
</html>